.page-container-home {
    height: 100vh; 
    overflow: hidden; 
}

.page-title {
    font-family: "Nunito-Bold";
    font-size: 45px;
    color: #1d7ac4;
    margin-left: 45%;
}

.chat-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    margin: auto;
}

.conversation-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
}

.chat-user-container {
    display: flex;
    margin-right: 80%;
}

.chat-user-container image {
    color: #1d7ac4;
}


.chat-username {
    font-family: "Nunito-Bold";
    font-size: 20px;
    color: #1d7ac4;
    
}
