.page-container-home {
    overflow-x: hidden;
}

.home-description {
  font-family: "Nunito-Light";
}

.home-initial-container {
    display: flex;
    padding-left: 5%;
    height:100vh; 
    overflow: hidden;
    overflow-y:hidden;
    background-color: #1d7ac4;
}

.home-initial-contents-container {
    display: block;
    align-items: center;
    margin-bottom: 0%;
    margin-top:12%; 
    color: white;
    font-family: "Nunito-Regular";
    font-size: 20px;
    overflow: hidden;
    overflow-y:hidden;
}

  .home-title {
      font-family: 'Nunito-Bold';
      display: flex;
      position:relative; 
      white-space: nowrap;
      color: white;
      width:48vw; 
      font-size: 80px;
    }

  .home-title::after {
    margin-top:4%; 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    animation: borderAnimation 4s ease forwards;
  }

  .log-in-navigation-container {
    overflow: hidden; 
    width: 30%;
    height: 25%;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    padding-top: 4%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: left;
  }

  .sign-in-fields {
    display: flex;
    align-items: left;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.login-failed-message {
  font-family: "Nunito-light";
  color: red;
  font-size: 14px;
  margin: auto;
}

.login-button {
  display: block;
  margin: auto;
  margin-top: 3%;
  background-color: #1d7ac4;
  color: white;
  font-family: "Nunito-light";
  font-size: 15px;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.login-button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .home-logo-image {
    width: 100vw;
    object-fit: fill;
    position: fixed;
    right:-38%;
    top: 8%;
    animation: spin 35s linear infinite; /* Adjust the animation duration for desired spinning speed */
  }

  a {
    padding-right: 50px;
    padding-left: 0px;
  }
  
  .profile-info-container{
    flex-direction: column;
  }

  .profile-info-details-container{
    display:flex; 
    margin-bottom: 2%; 
    justify-content: center;
    flex-direction: row;

  }

  .home-page-container {
    height: 100vh; 
    flex-direction: column;
  }

  .this-top-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: #1d7ac4;
    height: 10vh;
  }

  .home-page-contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%; 
    width: 100%;
    animation: fadeInAnimation 2s ease forwards;
    font-family: "Nunito-Bold";
    color: #1d7ac4;
  }

  .search-bar-container {
    width: 95%;
    margin-bottom:1%; 
  }

  .page-title-text {
    display:flex; 
    justify-content: center;
    width:95%; 
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 15px;
    position: relative;
  }
  
  .page-title-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: 0.5px;
    background-color: #1D7AC4;
    animation: borderAnimation 3s ease forwards;
  }
  
  .page-info-text {
    margin-top: 0%;
    font-size: 15px;
  }

  .profile-image {
    width: 15vw;
    height: 15vw;
    margin-top: 15%;
    border-radius: 50%;
    object-fit: cover;
    border:solid; 
    border-color: #1D7AC4;
  }
  
  .profile-details-container{
    margin-left:5%; 
  }

  @keyframes borderAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
