.page-container-home {
    overflow: auto; 
}

.home-initial-container {
    display: flex;
    padding-left: 5%;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color: #1d7ac4;
}

.home-initial-contents-container {
    display: block;
    align-items: center;
    margin-bottom: 0%;
    color: white;
    font-family: "Nunito-Regular";
    font-size: 20px;
    overflow: auto; 
}

.home-title {
    font-family: 'Nunito-Bold';
    display: flex;
    white-space: nowrap;
    color: white;
    font-size: 80px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 30px;
  }

  .log-in-navigation-container {
    display: flex;
    width:100%; 
    margin-top: 8%; 
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .home-logo-image {
    width: 90vw;
    object-fit: fill;
    position: fixed;
    right:-25%;
    animation: spin 20s linear infinite; /* Adjust the animation duration for desired spinning speed */
  }
  
.log-in-navigation-container button {
    background-color: white;
    text-decoration: none;
    font-family: 'Nunito-Bold';
    color: #1d7ac4;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  .log-in-navigation-container button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  }

  a {
    padding-right: 50px;
    padding-left: 0px;
  }
  
  .profile-info-container{
    flex-direction: column;
  }

  .profile-info-details-container{
    display:flex; 
    margin-bottom: 2%; 
    justify-content: center;
    flex-direction: row;

  }

  .home-page-container {
    height: 100vh; 
    flex-direction: column;
  }

  .this-top-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: #1d7ac4;
    height: 10vh;
  }

  .home-page-contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%; 
    width: 100%;
    animation: fadeInAnimation 2s ease forwards;
    font-family: "Nunito-Bold";
    color: #1d7ac4;
  }

  .search-bar-container {
    width: 95%;
    margin-bottom:1%; 
  }

  .page-title-text {
    display:flex; 
    justify-content: center;
    width:95%; 
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 15px;
    position: relative;
  }
  
  .page-title-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: 0.5px;
    background-color: #1D7AC4;
    animation: borderAnimation 2s ease forwards;
  }
  
  .page-info-text {
    margin-top: 0%;
    font-size: 15px;
  }

  .profile-image {
    width:15vw; 
    margin-top:15%; 
    border-radius: 50%;
    border:solid; 
    border-color: #1D7AC4;
  }
  
  .profile-details-container{
    margin-left:5%; 
  }

  @keyframes borderAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
