.page-container-home {
    height: 100vh; 
    overflow: hidden; 
}

.home-initial-container {
    display: flex;
    padding-left: 5%;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color: #1d7ac4;
    overflow: hidden; 
}

.home-initial-contents-container {
    display: block;
    align-items: center;
    margin-bottom: 0%;
    color: white;
    font-family: "Nunito-Regular";
    font-size: 20px;
}

.home-title {
    font-family: 'Nunito-Bold';
    display: flex;
    white-space: nowrap;
    color: white;
    font-size: 80px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 30px;
  }

  .log-in-navigation-container {
    display: flex;
    width:100%; 
    margin-top: 8%; 
  }

  .home-logo-image-container {
    display: block;
    align-self:flex-end;
    margin-right: 0%;
  }

  .home-logo-image {
    width: 80vw;
    object-fit:cover;
  }

.log-in-navigation-container button {
    background-color: white;
    text-decoration: none;
    font-family: 'Nunito-Bold';
    color: #1d7ac4;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  }

  a {
    padding-right: 50px;
    padding-left: 0px;
  }
  
  .home-page-container {
    height: 100vh; 
    overflow: hidden; 
  }

  .this-top-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: #1d7ac4;
    height: 10vh;
  }

  .home-page-contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 0%; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
    animation: fadeInAnimation 2s ease forwards;
    font-family: "Nunito-Bold";
    color: #1d7ac4;
    background-color: aliceblue;
  }

  .search-bar-container {
    width: 95%;
    height: 100%;
  }

  .page-title-text {
    font-size: 30px;
    margin-bottom: 0%;
  }

  .page-info-text {
    margin-top: 0%;
    font-size: 15px;
  }
