.page-container-signup {
    overflow: hidden; 
    display: flex;
    height: 100vh;
    background-color: white;
}

.sign-up-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: auto;
    justify-content: center;
}

.input-sign-up {
    margin-left: 30px;
    margin-top: 20px;
}

.page-container-signup button {
    display: block;
    margin: auto;
    background-color: #1d7ac4;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin-top: 20px;
  }

  button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  }

  .login-failed-message {
    font-family: "Nunito-light";
    color: red;
}