.page-container-signin{
    overflow: hidden; 
    display: flex;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.sign-in-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: auto;
    justify-content: center;
}

.login-logo-image {
    padding-left: 10%;
    margin: auto;
    margin-top: 2%;
    width: 20vw;
    object-fit: cover;
}

.login-failed-message {
    font-family: "Nunito-light";
    color: red;
}

.page-container-signin button {
    display: block;
    margin: auto;
    background-color: #1d7ac4;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin-top: 30px;
  }

  button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  }